In [1]:
import pandas as pd

In [3]:
bed = 'C:/Users/sksuzuki/Documents/EXCISION/level_3/ENCFF239FSU.bed'

In [4]:
df = pd.read_csv(bed, sep='\t')
df.head()

   chr1  230125030  230174106  ENST00000454058.2  0  +
0  chr1   29913143   29915337  ENST00000623731.1  0  +
1  chr1   61801712   61803634  ENST00000624542.1  0  +
2  chr1   23567063   23573122  ENST00000454863.3  0  -
3  chr1   82587312   82588411  ENST00000575085.1  0  +
4  chr1  127401725  127470569  ENST00000509671.1  0  +

In [48]:
df = pd.read_csv(bed, sep='\t', header=None)
df.head()

      0          1          2                  3  4  5
0  chr1  230125030  230174106  ENST00000454058.2  0  +
1  chr1   29913143   29915337  ENST00000623731.1  0  +
2  chr1   61801712   61803634  ENST00000624542.1  0  +
3  chr1   23567063   23573122  ENST00000454863.3  0  -
4  chr1   82587312   82588411  ENST00000575085.1  0  +

In [7]:
df.index

RangeIndex(start=0, stop=12, step=1)

In [11]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [49]:
df.columns = ['chromo', 'start', 'stop', 'gene_ID', 'score', 'strand']
df.head()

  chromo      start       stop            gene_ID  score strand
0   chr1  230125030  230174106  ENST00000454058.2      0      +
1   chr1   29913143   29915337  ENST00000623731.1      0      +
2   chr1   61801712   61803634  ENST00000624542.1      0      +
3   chr1   23567063   23573122  ENST00000454863.3      0      -
4   chr1   82587312   82588411  ENST00000575085.1      0      +

In [17]:
df_sorted = df.sort_values(by='gene_ID')
df_sorted

   chromo      start       stop            gene_ID  score strand
0    chr1  230125030  230174106  ENST00000454058.2      0      +
3    chr1   23567063   23573122  ENST00000454863.3      0      -
6    chr3   86481942   86496996  ENST00000460586.1      0      +
11   chr3   94876501   94888501  ENST00000460599.2      0      +
10   chr3   91488742   91876543  ENST00000460876.1      0      +
8    chr3   61801712   61803634  ENST00000465586.1      0      +
9    chr3   87881990   87883995  ENST00000466786.1      0      +
5    chr1  127401725  127470569  ENST00000509671.1      0      +
7    chr1   53947623   53974950  ENST00000558866.4      0      +
4    chr1   82587312   82588411  ENST00000575085.1      0      +
1    chr1   29913143   29915337  ENST00000623731.1      0      +
2    chr1   61801712   61803634  ENST00000624542.1      0      +

In [15]:
df['chromo']

0     chr1
1     chr1
2     chr1
3     chr1
4     chr1
5     chr1
6     chr3
7     chr1
8     chr3
9     chr3
10    chr3
11    chr3
Name: chromo, dtype: object

In [22]:
# Select by label 

df_sorted.loc[3:9,['start', 'strand']]

       start strand
3   23567063      -
6   86481942      +
11  94876501      +
10  91488742      +
8   61801712      +
9   87881990      +

In [25]:
# Select by position

df.iloc[3:9,[1,5]]

       start strand
3   23567063      -
4   82587312      +
5  127401725      +
6   86481942      +
7   53947623      +
8   61801712      +

In [26]:
df.iloc[1:3,:]

  chromo     start      stop            gene_ID  score strand
1   chr1  29913143  29915337  ENST00000623731.1      0      +
2   chr1  61801712  61803634  ENST00000624542.1      0      +

In [27]:
df.iloc[:,1:3]

        start       stop
0   230125030  230174106
1    29913143   29915337
2    61801712   61803634
3    23567063   23573122
4    82587312   82588411
5   127401725  127470569
6    86481942   86496996
7    53947623   53974950
8    61801712   61803634
9    87881990   87883995
10   91488742   91876543
11   94876501   94888501

In [28]:
# Threshold

df[df['start'] > 100000000]

  chromo      start       stop            gene_ID  score strand
0   chr1  230125030  230174106  ENST00000454058.2      0      +
5   chr1  127401725  127470569  ENST00000509671.1      0      +

In [30]:
df[df['chromo'].isin(['chr3'])]

   chromo     start      stop            gene_ID  score strand
6    chr3  86481942  86496996  ENST00000460586.1      0      +
8    chr3  61801712  61803634  ENST00000465586.1      0      +
9    chr3  87881990  87883995  ENST00000466786.1      0      +
10   chr3  91488742  91876543  ENST00000460876.1      0      +
11   chr3  94876501  94888501  ENST00000460599.2      0      +

In [33]:
# Joining dataframe

df1 = df[0:3]
df2 = df[7:]

print(df1)

print(df2)

  chromo      start       stop            gene_ID  score strand
0   chr1  230125030  230174106  ENST00000454058.2      0      +
1   chr1   29913143   29915337  ENST00000623731.1      0      +
2   chr1   61801712   61803634  ENST00000624542.1      0      +
   chromo     start      stop            gene_ID  score strand
7    chr1  53947623  53974950  ENST00000558866.4      0      +
8    chr3  61801712  61803634  ENST00000465586.1      0      +
9    chr3  87881990  87883995  ENST00000466786.1      0      +
10   chr3  91488742  91876543  ENST00000460876.1      0      +
11   chr3  94876501  94888501  ENST00000460599.2      0      +

In [35]:
dfs = [df1, df2]
df3 = pd.concat(dfs)
df3

   chromo      start       stop            gene_ID  score strand
0    chr1  230125030  230174106  ENST00000454058.2      0      +
1    chr1   29913143   29915337  ENST00000623731.1      0      +
2    chr1   61801712   61803634  ENST00000624542.1      0      +
7    chr1   53947623   53974950  ENST00000558866.4      0      +
8    chr3   61801712   61803634  ENST00000465586.1      0      +
9    chr3   87881990   87883995  ENST00000466786.1      0      +
10   chr3   91488742   91876543  ENST00000460876.1      0      +
11   chr3   94876501   94888501  ENST00000460599.2      0      +

In [36]:
left = pd.DataFrame({'chromo': ['chr1', 'chr2'], 'start': [0, 100]})
left

  chromo  start
0   chr1      0
1   chr2    100

In [38]:
right = pd.DataFrame({'chromo': ['chr1', 'chr2'], 'end' : [10, 110]})
right

  chromo  end
0   chr1   10
1   chr2  110

In [39]:
pd.merge(left, right, on='chromo')

  chromo  start  end
0   chr1      0   10
1   chr2    100  110

In [40]:
def square(x):
    return x**2
df['start']

0     230125030
1      29913143
2      61801712
3      23567063
4      82587312
5     127401725
6      86481942
7      53947623
8      61801712
9      87881990
10     91488742
11     94876501
Name: start, dtype: int64

In [50]:
df['start'].apply(square)

0     52957529432500900
1       894796124138449
2      3819451606130944
3       555406458445969
4      6820664103385344
5     16231199532975625
6      7479126292091364
7      2910346027350129
8      3819451606130944
9      7723244166360100
10     8370189912742564
11     9001550442003001
Name: start, dtype: int64

In [51]:
df

   chromo      start       stop            gene_ID  score strand
0    chr1  230125030  230174106  ENST00000454058.2      0      +
1    chr1   29913143   29915337  ENST00000623731.1      0      +
2    chr1   61801712   61803634  ENST00000624542.1      0      +
3    chr1   23567063   23573122  ENST00000454863.3      0      -
4    chr1   82587312   82588411  ENST00000575085.1      0      +
5    chr1  127401725  127470569  ENST00000509671.1      0      +
6    chr3   86481942   86496996  ENST00000460586.1      0      +
7    chr1   53947623   53974950  ENST00000558866.4      0      +
8    chr3   61801712   61803634  ENST00000465586.1      0      +
9    chr3   87881990   87883995  ENST00000466786.1      0      +
10   chr3   91488742   91876543  ENST00000460876.1      0      +
11   chr3   94876501   94888501  ENST00000460599.2      0      +

In [52]:
df['start'] = df['start'].apply(square)

df

   chromo              start       stop            gene_ID  score strand
0    chr1  52957529432500900  230174106  ENST00000454058.2      0      +
1    chr1    894796124138449   29915337  ENST00000623731.1      0      +
2    chr1   3819451606130944   61803634  ENST00000624542.1      0      +
3    chr1    555406458445969   23573122  ENST00000454863.3      0      -
4    chr1   6820664103385344   82588411  ENST00000575085.1      0      +
5    chr1  16231199532975625  127470569  ENST00000509671.1      0      +
6    chr3   7479126292091364   86496996  ENST00000460586.1      0      +
7    chr1   2910346027350129   53974950  ENST00000558866.4      0      +
8    chr3   3819451606130944   61803634  ENST00000465586.1      0      +
9    chr3   7723244166360100   87883995  ENST00000466786.1      0      +
10   chr3   8370189912742564   91876543  ENST00000460876.1      0      +
11   chr3   9001550442003001   94888501  ENST00000460599.2      0      +

# Level 3 with pandas

In [54]:
bed = 'C:/Users/sksuzuki/Documents/EXCISION/level_3/ENCFF239FSU.bed'
df = pd.read_csv(bed, sep='\t', header=None)
df.columns = ['chromo', 'start', 'stop', 'gene_ID', 'score', 'strand']
df.head()

  chromo      start       stop            gene_ID  score strand
0   chr1  230125030  230174106  ENST00000454058.2      0      +
1   chr1   29913143   29915337  ENST00000623731.1      0      +
2   chr1   61801712   61803634  ENST00000624542.1      0      +
3   chr1   23567063   23573122  ENST00000454863.3      0      -
4   chr1   82587312   82588411  ENST00000575085.1      0      +

In [55]:
# Filter for the postitive strand

df_p = df[df['strand'] == '+']
df_p.head()

  chromo      start       stop            gene_ID  score strand
0   chr1  230125030  230174106  ENST00000454058.2      0      +
1   chr1   29913143   29915337  ENST00000623731.1      0      +
2   chr1   61801712   61803634  ENST00000624542.1      0      +
4   chr1   82587312   82588411  ENST00000575085.1      0      +
5   chr1  127401725  127470569  ENST00000509671.1      0      +

In [58]:
df_p['length'] = df_p['stop'] - df_p['start']
df_p.head()

C:\Users\sksuzuki\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

  chromo      start       stop            gene_ID  score strand  length
0   chr1  230125030  230174106  ENST00000454058.2      0      +   49076
1   chr1   29913143   29915337  ENST00000623731.1      0      +    2194
2   chr1   61801712   61803634  ENST00000624542.1      0      +    1922
4   chr1   82587312   82588411  ENST00000575085.1      0      +    1099
5   chr1  127401725  127470569  ENST00000509671.1      0      +   68844

In [60]:
# get unique name in chromo column

chromo_names = df_p['chromo'].unique()
chromo_names

array(['chr1', 'chr3'], dtype=object)