# Introduction to Pandas

This class introduces the pandas package which is centered around the pandas' DataFrame and Series datatypes. Unlike NumPy, DataFrames can store multiple data types, like ints and strings. Typically, pandas is useful for analyzing data that have multiple entries in separate rows and different information in each column. You can think of a Series (1-dimensional) as one column of data while a DataFrame is made up of multiple columns (2-dimensional). We're primarily focusing on the DataFrame class in this lecture, but it's important for you to know that there are differences between the two datatypes. At the end of this notebook, I've linked some additional resources that further expound on this and other more niche functionalities.

In [1]:
import pandas as pd

# Loading in a file

I'm using the example bed file from Level 3 to introduce pandas since it's something that we're used to seeing.

In [2]:
bed = 'C:/Users/jumpi/How-to-Learn-to-Code/data/3/ENCFF239FSU.bed'

We can read files using the ```read_csv()``` function, and specify how our data is separated. Here our data is tab-separated.

In [3]:
df=pd.read_csv(bed,sep='\t')
df.head()

    chr2  230125030  230174106  ENST00000454058.2  0  +
0  chr16   29913143   29915337  ENST00000623731.1  0  -
1  chr14   61801712   61803634  ENST00000624542.1  0  +
2  chr22   23567063   23573122  ENST00000454863.3  0  +
3  chr17   82587312   82588411  ENST00000575085.1  0  -
4   chr4  127401725  127470569  ENST00000509671.1  0  -

Since our data does not have headers to out columns, we can specify that using the ```header``` argument.

In [6]:
df=pd.read_csv(bed,sep='\t',header=None)
df.tail(20)

          0          1          2                  3  4  5
9980   chr6    3182743    3195747  ENST00000425384.5  0  -
9981   chr8   95505405   95527524  ENST00000519366.1  0  +
9982   chr6  113970105  113995644  ENST00000436876.5  0  +
9983   chr5  128060583  128083172  ENST00000606251.1  0  -
9984   chr2  225761558  225762112  ENST00000624730.1  0  +
9985   chr1  170509960  170532000  ENST00000421020.1  0  -
9986   chr1  145164099  145167488  ENST00000621033.1  0  -
9987  chr15   44826539   44827094  ENST00000558419.1  0  +
9988  chr15  100888471  100889106  ENST00000615211.1  0  -
9989  chr15   25000304   25020825  ENST00000553134.4  0  +
9990   chr8  130595298  130655712  ENST00000523502.1  0  -
9991  chr15   75527178   75601186  ENST00000567875.4  0  -
9992  chr22   17037285   17060003  ENST00000609596.1  0  +
9993   chr1  185331256  185335039  ENST00000565520.1  0  -
9994  chr12  116948737  116951422  ENST00000617795.1  0  -
9995   chr2   66327348   66328643  ENST00000412313.1  0  +
9996   chr4  185918139  185919460  ENST00000456728.1  0  +
9997  chr14   59919422   59920339  ENST00000565968.1  0  -
9998  chr11  116813203  116814003  ENST00000457746.1  0  -
9999   chr7   25358239   25359908  ENST00000562268.1  0  -

# Indexing and slicing

Indexing and slicing are both important to know how to look at particular portions of your data. Importantly, the ```index``` of a DataFrame refers to the index of the rows while just ```columns``` or ```headers``` refer to the names of the columns. Here are some of the most commonly used attributes and functions:

In [7]:
df.index

RangeIndex(start=0, stop=10000, step=1)

Since we didn't specify or import any index or headers for our DataFrame, Pandas defaults to setting them to numbers.

In [8]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

You can rename headers en masse using list comprehensions or lambda functions

In [11]:
import numpy as np
df.columns=[x for x in np.arange(10,16)]
df.columns

Int64Index([10, 11, 12, 13, 14, 15], dtype='int64')

In [13]:
df.rename(columns=lambda x:x+1)

         11         12         13                 14  15 16
0      chr2  230125030  230174106  ENST00000454058.2   0  +
1     chr16   29913143   29915337  ENST00000623731.1   0  -
2     chr14   61801712   61803634  ENST00000624542.1   0  +
3     chr22   23567063   23573122  ENST00000454863.3   0  +
4     chr17   82587312   82588411  ENST00000575085.1   0  -
5      chr4  127401725  127470569  ENST00000509671.1   0  -
6      chr3   86481942   86496996  ENST00000460586.1   0  +
7     chr15   53947623   53974950  ENST00000558866.4   0  -
8     chr19   37265940   37267193  ENST00000586324.1   0  -
9      chr7   22856527   22861579  ENST00000422542.3   0  +
10    chr10  120984965  120985596  ENST00000613871.1   0  -
11    chr18   26688110   26689668  ENST00000583852.1   0  +
12    chr17   72323157   72592355  ENST00000581801.4   0  -
13     chr5    4512261    4516776  ENST00000503188.1   0  +
14     chr2   80572680   80605634  ENST00000630660.1   0  -
15     chr1   53304535   53307462  ENST00000446686.1   0  +
16    chr19    9538732    9539734  ENST00000613560.1   0  +
17     chr1    7008375    7014279  ENST00000456701.1   0  -
18     chr1     498983     501607  ENST00000608420.1   0  -
19     chr9   62873592   62880620  ENST00000609749.1   0  -
20     chr9  136975093  136976981  ENST00000413913.2   0  +
21    chr18    9102735    9182524  ENST00000579126.4   0  +
22     chr6  149591754  149592663  ENST00000419134.1   0  -
23     chr4   41883059   41894579  ENST00000510772.1   0  -
24    chr14   92886351   92893026  ENST00000554653.4   0  +
25    chr20   47352560   47354633  ENST00000413818.2   0  +
26     chr8   22747502   22758192  ENST00000521141.1   0  +
27    chr12    6466536    6467135  ENST00000619166.1   0  +
28     chr2  199867763  199909158  ENST00000627240.1   0  -
29    chr20   50570974   50578041  ENST00000431019.1   0  -
...     ...        ...        ...                ...  .. ..
9970   chr8  103121031  103132966  ENST00000503718.2   0  +
9971   chr4  102500840  102501319  ENST00000563833.1   0  -
9972   chr1   32205497   32206814  ENST00000421616.1   0  -
9973   chr1  201995695  201996352  ENST00000608886.1   0  -
9974   chr8  126556895  126557433  ENST00000524320.1   0  +
9975   chr9   80030578   80034555  ENST00000417801.1   0  +
9976  chr18    5748818    5795901  ENST00000566533.4   0  +
9977   chr7   30574422   30576742  ENST00000584023.1   0  -
9978  chr15   22070240   22083221  ENST00000560544.1   0  +
9979  chr17   65051908   65053308  ENST00000581796.1   0  +
9980   chr6    3182743    3195747  ENST00000425384.5   0  -
9981   chr8   95505405   95527524  ENST00000519366.1   0  +
9982   chr6  113970105  113995644  ENST00000436876.5   0  +
9983   chr5  128060583  128083172  ENST00000606251.1   0  -
9984   chr2  225761558  225762112  ENST00000624730.1   0  +
9985   chr1  170509960  170532000  ENST00000421020.1   0  -
9986   chr1  145164099  145167488  ENST00000621033.1   0  -
9987  chr15   44826539   44827094  ENST00000558419.1   0  +
9988  chr15  100888471  100889106  ENST00000615211.1   0  -
9989  chr15   25000304   25020825  ENST00000553134.4   0  +
9990   chr8  130595298  130655712  ENST00000523502.1   0  -
9991  chr15   75527178   75601186  ENST00000567875.4   0  -
9992  chr22   17037285   17060003  ENST00000609596.1   0  +
9993   chr1  185331256  185335039  ENST00000565520.1   0  -
9994  chr12  116948737  116951422  ENST00000617795.1   0  -
9995   chr2   66327348   66328643  ENST00000412313.1   0  +
9996   chr4  185918139  185919460  ENST00000456728.1   0  +
9997  chr14   59919422   59920339  ENST00000565968.1   0  -
9998  chr11  116813203  116814003  ENST00000457746.1   0  -
9999   chr7   25358239   25359908  ENST00000562268.1   0  -

[10000 rows x 6 columns]

We can rename our headers so that they're more descriptive of each column.

In [14]:
df.columns=['chromosome','start','end','gene','score','strand']

Pandas includes lots of built-in functions for data-exploration and basic data cleaning. We can get summary statistics for numerical columns.

In [16]:
df.describe()

              start           end    score
count  1.000000e+04  1.000000e+04  10000.0
mean   7.555008e+07  7.557706e+07      0.0
std    5.659437e+07  5.659728e+07      0.0
min    1.119000e+04  1.460400e+04      0.0
25%    3.029919e+07  3.032635e+07      0.0
50%    6.374614e+07  6.374707e+07      0.0
75%    1.111797e+08  1.111803e+08      0.0
max    2.488592e+08  2.488648e+08      0.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
chromosome    10000 non-null object
start         10000 non-null int64
end           10000 non-null int64
gene          10000 non-null object
score         10000 non-null int64
strand        10000 non-null object
dtypes: int64(3), object(3)
memory usage: 468.8+ KB

We can easily check for missing or null values

In [18]:
df['example']=np.nan

In [19]:
df.isnull()

      chromosome  start    end   gene  score  strand  example
0          False  False  False  False  False   False     True
1          False  False  False  False  False   False     True
2          False  False  False  False  False   False     True
3          False  False  False  False  False   False     True
4          False  False  False  False  False   False     True
5          False  False  False  False  False   False     True
6          False  False  False  False  False   False     True
7          False  False  False  False  False   False     True
8          False  False  False  False  False   False     True
9          False  False  False  False  False   False     True
10         False  False  False  False  False   False     True
11         False  False  False  False  False   False     True
12         False  False  False  False  False   False     True
13         False  False  False  False  False   False     True
14         False  False  False  False  False   False     True
15         False  False  False  False  False   False     True
16         False  False  False  False  False   False     True
17         False  False  False  False  False   False     True
18         False  False  False  False  False   False     True
19         False  False  False  False  False   False     True
20         False  False  False  False  False   False     True
21         False  False  False  False  False   False     True
22         False  False  False  False  False   False     True
23         False  False  False  False  False   False     True
24         False  False  False  False  False   False     True
25         False  False  False  False  False   False     True
26         False  False  False  False  False   False     True
27         False  False  False  False  False   False     True
28         False  False  False  False  False   False     True
29         False  False  False  False  False   False     True
...          ...    ...    ...    ...    ...     ...      ...
9970       False  False  False  False  False   False     True
9971       False  False  False  False  False   False     True
9972       False  False  False  False  False   False     True
9973       False  False  False  False  False   False     True
9974       False  False  False  False  False   False     True
9975       False  False  False  False  False   False     True
9976       False  False  False  False  False   False     True
9977       False  False  False  False  False   False     True
9978       False  False  False  False  False   False     True
9979       False  False  False  False  False   False     True
9980       False  False  False  False  False   False     True
9981       False  False  False  False  False   False     True
9982       False  False  False  False  False   False     True
9983       False  False  False  False  False   False     True
9984       False  False  False  False  False   False     True
9985       False  False  False  False  False   False     True
9986       False  False  False  False  False   False     True
9987       False  False  False  False  False   False     True
9988       False  False  False  False  False   False     True
9989       False  False  False  False  False   False     True
9990       False  False  False  False  False   False     True
9991       False  False  False  False  False   False     True
9992       False  False  False  False  False   False     True
9993       False  False  False  False  False   False     True
9994       False  False  False  False  False   False     True
9995       False  False  False  False  False   False     True
9996       False  False  False  False  False   False     True
9997       False  False  False  False  False   False     True
9998       False  False  False  False  False   False     True
9999       False  False  False  False  False   False     True

[10000 rows x 7 columns]

In [20]:
df.dropna()

Empty DataFrame
Columns: [chromosome, start, end, gene, score, strand, example]
Index: []

In [21]:
df.dropna(axis=1,thresh=5)

     chromosome      start        end               gene  score strand
0          chr2  230125030  230174106  ENST00000454058.2      0      +
1         chr16   29913143   29915337  ENST00000623731.1      0      -
2         chr14   61801712   61803634  ENST00000624542.1      0      +
3         chr22   23567063   23573122  ENST00000454863.3      0      +
4         chr17   82587312   82588411  ENST00000575085.1      0      -
5          chr4  127401725  127470569  ENST00000509671.1      0      -
6          chr3   86481942   86496996  ENST00000460586.1      0      +
7         chr15   53947623   53974950  ENST00000558866.4      0      -
8         chr19   37265940   37267193  ENST00000586324.1      0      -
9          chr7   22856527   22861579  ENST00000422542.3      0      +
10        chr10  120984965  120985596  ENST00000613871.1      0      -
11        chr18   26688110   26689668  ENST00000583852.1      0      +
12        chr17   72323157   72592355  ENST00000581801.4      0      -
13         chr5    4512261    4516776  ENST00000503188.1      0      +
14         chr2   80572680   80605634  ENST00000630660.1      0      -
15         chr1   53304535   53307462  ENST00000446686.1      0      +
16        chr19    9538732    9539734  ENST00000613560.1      0      +
17         chr1    7008375    7014279  ENST00000456701.1      0      -
18         chr1     498983     501607  ENST00000608420.1      0      -
19         chr9   62873592   62880620  ENST00000609749.1      0      -
20         chr9  136975093  136976981  ENST00000413913.2      0      +
21        chr18    9102735    9182524  ENST00000579126.4      0      +
22         chr6  149591754  149592663  ENST00000419134.1      0      -
23         chr4   41883059   41894579  ENST00000510772.1      0      -
24        chr14   92886351   92893026  ENST00000554653.4      0      +
25        chr20   47352560   47354633  ENST00000413818.2      0      +
26         chr8   22747502   22758192  ENST00000521141.1      0      +
27        chr12    6466536    6467135  ENST00000619166.1      0      +
28         chr2  199867763  199909158  ENST00000627240.1      0      -
29        chr20   50570974   50578041  ENST00000431019.1      0      -
...         ...        ...        ...                ...    ...    ...
9970       chr8  103121031  103132966  ENST00000503718.2      0      +
9971       chr4  102500840  102501319  ENST00000563833.1      0      -
9972       chr1   32205497   32206814  ENST00000421616.1      0      -
9973       chr1  201995695  201996352  ENST00000608886.1      0      -
9974       chr8  126556895  126557433  ENST00000524320.1      0      +
9975       chr9   80030578   80034555  ENST00000417801.1      0      +
9976      chr18    5748818    5795901  ENST00000566533.4      0      +
9977       chr7   30574422   30576742  ENST00000584023.1      0      -
9978      chr15   22070240   22083221  ENST00000560544.1      0      +
9979      chr17   65051908   65053308  ENST00000581796.1      0      +
9980       chr6    3182743    3195747  ENST00000425384.5      0      -
9981       chr8   95505405   95527524  ENST00000519366.1      0      +
9982       chr6  113970105  113995644  ENST00000436876.5      0      +
9983       chr5  128060583  128083172  ENST00000606251.1      0      -
9984       chr2  225761558  225762112  ENST00000624730.1      0      +
9985       chr1  170509960  170532000  ENST00000421020.1      0      -
9986       chr1  145164099  145167488  ENST00000621033.1      0      -
9987      chr15   44826539   44827094  ENST00000558419.1      0      +
9988      chr15  100888471  100889106  ENST00000615211.1      0      -
9989      chr15   25000304   25020825  ENST00000553134.4      0      +
9990       chr8  130595298  130655712  ENST00000523502.1      0      -
9991      chr15   75527178   75601186  ENST00000567875.4      0      -
9992      chr22   17037285   17060003  ENST00000609596.1      0      +
9993       chr1  185331256  185335039  ENST00000565520.1      0      -
9994      chr12  116948737  116951422  ENST00000617795.1      0      -
9995       chr2   66327348   66328643  ENST00000412313.1      0      +
9996       chr4  185918139  185919460  ENST00000456728.1      0      +
9997      chr14   59919422   59920339  ENST00000565968.1      0      -
9998      chr11  116813203  116814003  ENST00000457746.1      0      -
9999       chr7   25358239   25359908  ENST00000562268.1      0      -

[10000 rows x 6 columns]

    We can replace instead of simply removing null values

In [22]:
df.fillna(0)

,chromosome,start,end,gene,score,strand,example
0,chr2,230125030,230174106,ENST00000454058.2,0,+,0.0
1,chr16,29913143,29915337,ENST00000623731.1,0,-,0.0
2,chr14,61801712,61803634,ENST00000624542.1,0,+,0.0
3,chr22,23567063,23573122,ENST00000454863.3,0,+,0.0
4,chr17,82587312,82588411,ENST00000575085.1,0,-,0.0
5,chr4,127401725,127470569,ENST00000509671.1,0,-,0.0
6,chr3,86481942,86496996,ENST00000460586.1,0,+,0.0
7,chr15,53947623,53974950,ENST00000558866.4,0,-,0.0
8,chr19,37265940,37267193,ENST00000586324.1,0,-,0.0
9,chr7,22856527,22861579,ENST00000422542.3,0,+,0.0
10,chr10,120984965,120985596,ENST00000613871.1,0,-,0.0
11,chr18,26688110,26689668,ENST00000583852.1,0,+,0.0
12,chr17,72323157,72592355,ENST00000581801.4,0,-,0.0
13,chr5,4512261,4516776,ENST00000503188.1,0,+,0.0
14,chr2,80572680,80605634,ENST00000630660.1,0,-,0.0
15,chr1,53304535,53307462,ENST00000446686.1,0,+,0.0
16,chr19,9538732,9539734,ENST00000613560.1,0,+,0.0
17,chr1,7008375,7014279,ENST00000456701.1,0,-,0.0
18,chr1,498983,501607,ENST00000608420.1,0,-,0.0
19,chr9,62873592,62880620,ENST00000609749.1,0,-,0.0
20,chr9,136975093,136976981,ENST00000413913.2,0,+,0.0
21,chr18,9102735,9182524,ENST00000579126.4,0,+,0.0
22,chr6,149591754,149592663,ENST00000419134.1,0,-,0.0
23,chr4,41883059,41894579,ENST00000510772.1,0,-,0.0
24,chr14,92886351,92893026,ENST00000554653.4,0,+,0.0
25,chr20,47352560,47354633,ENST00000413818.2,0,+,0.0
26,chr8,22747502,22758192,ENST00000521141.1,0,+,0.0
27,chr12,6466536,6467135,ENST00000619166.1,0,+,0.0
28,chr2,199867763,199909158,ENST00000627240.1,0,-,0.0
29,chr20,50570974,50578041,ENST00000431019.1,0,-,0.0
...,...,...,...,...,...,...,...
9970,chr8,103121031,103132966,ENST00000503718.2,0,+,0.0
9971,chr4,102500840,102501319,ENST00000563833.1,0,-,0.0
9972,chr1,32205497,32206814,ENST00000421616.1,0,-,0.0
9973,chr1,201995695,201996352,ENST00000608886.1,0,-,0.0
9974,chr8,126556895,126557433,ENST00000524320.1,0,+,0.0
9975,chr9,80030578,80034555,ENST00000417801.1,0,+,0.0
9976,chr18,5748818,5795901,ENST00000566533.4,0,+,0.0
9977,chr7,30574422,30576742,ENST00000584023.1,0,-,0.0
9978,chr15,22070240,22083221,ENST00000560544.1,0,+,0.0
9979,chr17,65051908,65053308,ENST00000581796.1,0,+,0.0
9980,chr6,3182743,3195747,ENST00000425384.5,0,-,0.0
9981,chr8,95505405,95527524,ENST00000519366.1,0,+,0.0
9982,chr6,113970105,113995644,ENST00000436876.5,0,+,0.0
9983,chr5,128060583,128083172,ENST00000606251.1,0,-,0.0
9984,chr2,225761558,225762112,ENST00000624730.1,0,+,0.0
9985,chr1,170509960,170532000,ENST00000421020.1,0,-,0.0
9986,chr1,145164099,145167488,ENST00000621033.1,0,-,0.0
9987,chr15,44826539,44827094,ENST00000558419.1,0,+,0.0
9988,chr15,100888471,100889106,ENST00000615211.1,0,-,0.0
9989,chr15,25000304,25020825,ENST00000553134.4,0,+,0.0
9990,chr8,130595298,130655712,ENST00000523502.1,0,-,0.0
9991,chr15,75527178,75601186,ENST00000567875.4,0,-,0.0
9992,chr22,17037285,17060003,ENST00000609596.1,0,+,0.0
9993,chr1,185331256,185335039,ENST00000565520.1,0,-,0.0
9994,chr12,116948737,116951422,ENST00000617795.1,0,-,0.0
9995,chr2,66327348,66328643,ENST00000412313.1,0,+,0.0
9996,chr4,185918139,185919460,ENST00000456728.1,0,+,0.0
9997,chr14,59919422,59920339,ENST00000565968.1,0,-,0.0
9998,chr11,116813203,116814003,ENST00000457746.1,0,-,0.0
9999,chr7,25358239,25359908,ENST00000562268.1,0,-,0.0

In [23]:
df.replace('chr1','chr105')

,chromosome,start,end,gene,score,strand,example
0,chr2,230125030,230174106,ENST00000454058.2,0,+,NaN
1,chr16,29913143,29915337,ENST00000623731.1,0,-,NaN
2,chr14,61801712,61803634,ENST00000624542.1,0,+,NaN
3,chr22,23567063,23573122,ENST00000454863.3,0,+,NaN
4,chr17,82587312,82588411,ENST00000575085.1,0,-,NaN
5,chr4,127401725,127470569,ENST00000509671.1,0,-,NaN
6,chr3,86481942,86496996,ENST00000460586.1,0,+,NaN
7,chr15,53947623,53974950,ENST00000558866.4,0,-,NaN
8,chr19,37265940,37267193,ENST00000586324.1,0,-,NaN
9,chr7,22856527,22861579,ENST00000422542.3,0,+,NaN
10,chr10,120984965,120985596,ENST00000613871.1,0,-,NaN
11,chr18,26688110,26689668,ENST00000583852.1,0,+,NaN
12,chr17,72323157,72592355,ENST00000581801.4,0,-,NaN
13,chr5,4512261,4516776,ENST00000503188.1,0,+,NaN
14,chr2,80572680,80605634,ENST00000630660.1,0,-,NaN
15,chr105,53304535,53307462,ENST00000446686.1,0,+,NaN
16,chr19,9538732,9539734,ENST00000613560.1,0,+,NaN
17,chr105,7008375,7014279,ENST00000456701.1,0,-,NaN
18,chr105,498983,501607,ENST00000608420.1,0,-,NaN
19,chr9,62873592,62880620,ENST00000609749.1,0,-,NaN
20,chr9,136975093,136976981,ENST00000413913.2,0,+,NaN
21,chr18,9102735,9182524,ENST00000579126.4,0,+,NaN
22,chr6,149591754,149592663,ENST00000419134.1,0,-,NaN
23,chr4,41883059,41894579,ENST00000510772.1,0,-,NaN
24,chr14,92886351,92893026,ENST00000554653.4,0,+,NaN
25,chr20,47352560,47354633,ENST00000413818.2,0,+,NaN
26,chr8,22747502,22758192,ENST00000521141.1,0,+,NaN
27,chr12,6466536,6467135,ENST00000619166.1,0,+,NaN
28,chr2,199867763,199909158,ENST00000627240.1,0,-,NaN
29,chr20,50570974,50578041,ENST00000431019.1,0,-,NaN
...,...,...,...,...,...,...,...
9970,chr8,103121031,103132966,ENST00000503718.2,0,+,NaN
9971,chr4,102500840,102501319,ENST00000563833.1,0,-,NaN
9972,chr105,32205497,32206814,ENST00000421616.1,0,-,NaN
9973,chr105,201995695,201996352,ENST00000608886.1,0,-,NaN
9974,chr8,126556895,126557433,ENST00000524320.1,0,+,NaN
9975,chr9,80030578,80034555,ENST00000417801.1,0,+,NaN
9976,chr18,5748818,5795901,ENST00000566533.4,0,+,NaN
9977,chr7,30574422,30576742,ENST00000584023.1,0,-,NaN
9978,chr15,22070240,22083221,ENST00000560544.1,0,+,NaN
9979,chr17,65051908,65053308,ENST00000581796.1,0,+,NaN
9980,chr6,3182743,3195747,ENST00000425384.5,0,-,NaN
9981,chr8,95505405,95527524,ENST00000519366.1,0,+,NaN
9982,chr6,113970105,113995644,ENST00000436876.5,0,+,NaN
9983,chr5,128060583,128083172,ENST00000606251.1,0,-,NaN
9984,chr2,225761558,225762112,ENST00000624730.1,0,+,NaN
9985,chr105,170509960,170532000,ENST00000421020.1,0,-,NaN
9986,chr105,145164099,145167488,ENST00000621033.1,0,-,NaN
9987,chr15,44826539,44827094,ENST00000558419.1,0,+,NaN
9988,chr15,100888471,100889106,ENST00000615211.1,0,-,NaN
9989,chr15,25000304,25020825,ENST00000553134.4,0,+,NaN
9990,chr8,130595298,130655712,ENST00000523502.1,0,-,NaN
9991,chr15,75527178,75601186,ENST00000567875.4,0,-,NaN
9992,chr22,17037285,17060003,ENST00000609596.1,0,+,NaN
9993,chr105,185331256,185335039,ENST00000565520.1,0,-,NaN
9994,chr12,116948737,116951422,ENST00000617795.1,0,-,NaN
9995,chr2,66327348,66328643,ENST00000412313.1,0,+,NaN
9996,chr4,185918139,185919460,ENST00000456728.1,0,+,NaN
9997,chr14,59919422,59920339,ENST00000565968.1,0,-,NaN
9998,chr11,116813203,116814003,ENST00000457746.1,0,-,NaN
9999,chr7,25358239,25359908,ENST00000562268.1,0,-,NaN

We can sort by a particular column (notice the difference in the index)

In [24]:
df.sort_values(by='gene')

,chromosome,start,end,gene,score,strand,example
496,chr14,61570539,61658696,ENST00000229465.9,0,+,NaN
2304,chr1,67529629,67532329,ENST00000230113.3,0,+,NaN
9321,chrY,6390430,6411564,ENST00000250776.5,0,+,NaN
5281,chrY,22439592,22441458,ENST00000253838.3,0,-,NaN
7486,chr22,50674641,50733210,ENST00000262795.5,0,+,NaN
8086,chr22,50674641,50733210,ENST00000262795.5,0,+,NaN
1366,chr1,39249837,39257649,ENST00000289890.7,0,-,NaN
1425,chr3,185713291,185718167,ENST00000296270.1,0,+,NaN
4454,chr12,8235414,8238946,ENST00000304751.9,0,+,NaN
5251,chr11,115582296,115600339,ENST00000306533.8,0,+,NaN
374,chrY,25482907,25486705,ENST00000306641.1,0,+,NaN
2855,chrY,24183433,24187231,ENST00000306853.1,0,-,NaN
695,chr2,111429318,111494988,ENST00000308604.5,0,-,NaN
2961,chr2,111429318,111494988,ENST00000308604.5,0,-,NaN
4888,chr11,65455312,65466720,ENST00000309775.8,0,+,NaN
262,chr1,34975698,34978706,ENST00000311990.4,0,-,NaN
8841,chr6,1079928,1104946,ENST00000314040.1,0,+,NaN
738,chr8,22169337,22171710,ENST00000314927.4,0,+,NaN
510,chr4,182141649,182144466,ENST00000315302.5,0,-,NaN
8120,chr11,64449073,64451657,ENST00000316124.3,0,+,NaN
1787,chr19,37545469,37549171,ENST00000316807.2,0,-,NaN
5330,chr18,79638927,79679745,ENST00000317008.4,0,-,NaN
3561,chr1,15834478,15848147,ENST00000317122.1,0,-,NaN
3356,chr4,184340755,184353977,ENST00000317596.3,0,-,NaN
5913,chr1,181236387,181238604,ENST00000319701.2,0,+,NaN
2403,chr11,60615750,60687149,ENST00000320202.7,0,+,NaN
3065,chr9,131498804,131500171,ENST00000321081.2,0,-,NaN
4281,chr16,89159219,89163675,ENST00000321214.2,0,+,NaN
3646,chr10,132445188,132449386,ENST00000321248.4,0,+,NaN
7841,chr10,132445188,132449386,ENST00000321248.4,0,+,NaN
...,...,...,...,...,...,...,...
3169,chr2,69963281,70086294,ENST00000630975.1,0,-,NaN
5243,chr2,69963281,70086294,ENST00000630975.1,0,-,NaN
667,chr3,37808495,37861727,ENST00000630986.1,0,-,NaN
4265,chr3,37808495,37861727,ENST00000630986.1,0,-,NaN
4040,chr1,110415609,110418362,ENST00000631010.1,0,+,NaN
5083,chr3,181699618,181709602,ENST00000631025.1,0,+,NaN
9840,chr2,127467827,127492984,ENST00000631042.1,0,+,NaN
8104,chr3,18465982,18506536,ENST00000631058.1,0,+,NaN
2191,chr1,96010695,96022678,ENST00000631091.1,0,+,NaN
6952,chr9,37079907,37087176,ENST00000631093.1,0,+,NaN
929,chr2,67261086,67296023,ENST00000631099.1,0,+,NaN
2132,chr10,108041058,108167969,ENST00000631100.1,0,-,NaN
3400,chr2,38029823,38036267,ENST00000631120.1,0,-,NaN
665,chr2,38029823,38036267,ENST00000631120.1,0,-,NaN
2059,chr2,38029823,38036267,ENST00000631120.1,0,-,NaN
4153,chr2,90365736,90367699,ENST00000631132.1,0,+,NaN
2715,chr2,144668029,145182373,ENST00000631167.1,0,+,NaN
4205,chr4,386173,454070,ENST00000631198.1,0,+,NaN
3382,chr2,201140277,201151160,ENST00000631217.1,0,-,NaN
4407,chr7,122328491,122426075,ENST00000631248.1,0,+,NaN
8522,chr3,195708177,195717780,ENST00000631263.1,0,+,NaN
1896,chr18,26909820,26930727,ENST00000631265.1,0,+,NaN
616,chr2,144667977,145182374,ENST00000631271.1,0,+,NaN
4191,chr3,18465982,18530727,ENST00000631285.1,0,+,NaN
5665,chr2,136008871,136016465,ENST00000631306.1,0,+,NaN
4210,chr1,110411019,110418356,ENST00000631307.1,0,+,NaN
3932,chr3,42506975,42532062,ENST00000631311.1,0,-,NaN
5502,chr3,36823150,36825158,ENST00000631338.1,0,-,NaN
1585,chr3,36823150,36825158,ENST00000631338.1,0,-,NaN
1915,chr6,54047137,54063340,ENST00000631364.1,0,-,NaN

We can grab one column

In [25]:
df['chromosome']

0        chr2
1       chr16
2       chr14
3       chr22
4       chr17
5        chr4
6        chr3
7       chr15
8       chr19
9        chr7
10      chr10
11      chr18
12      chr17
13       chr5
14       chr2
15       chr1
16      chr19
17       chr1
18       chr1
19       chr9
20       chr9
21      chr18
22       chr6
23       chr4
24      chr14
25      chr20
26       chr8
27      chr12
28       chr2
29      chr20
        ...
9970     chr8
9971     chr4
9972     chr1
9973     chr1
9974     chr8
9975     chr9
9976    chr18
9977     chr7
9978    chr15
9979    chr17
9980     chr6
9981     chr8
9982     chr6
9983     chr5
9984     chr2
9985     chr1
9986     chr1
9987    chr15
9988    chr15
9989    chr15
9990     chr8
9991    chr15
9992    chr22
9993     chr1
9994    chr12
9995     chr2
9996     chr4
9997    chr14
9998    chr11
9999     chr7
Name: chromosome, Length: 10000, dtype: object

Or grab a range of rows

In [26]:
df[0:3]

  chromosome      start        end               gene  score strand  example
0       chr2  230125030  230174106  ENST00000454058.2      0      +      NaN
1      chr16   29913143   29915337  ENST00000623731.1      0      -      NaN
2      chr14   61801712   61803634  ENST00000624542.1      0      +      NaN

There are two different ways that you can select a subset of your DataFrame: by label and by position. When selecting by label, you're specifying the row and columns you want by their index and headers. When selecting by position, that's reflective of the literal position in the DataFrame. This is important when you filter or reorder your DataFrame.

**Selection by Label** 

using ```.loc```

In [27]:
df.loc[:,['start','strand']]

          start strand
0     230125030      +
1      29913143      -
2      61801712      +
3      23567063      +
4      82587312      -
5     127401725      -
6      86481942      +
7      53947623      -
8      37265940      -
9      22856527      +
10    120984965      -
11     26688110      +
12     72323157      -
13      4512261      +
14     80572680      -
15     53304535      +
16      9538732      +
17      7008375      -
18       498983      -
19     62873592      -
20    136975093      +
21      9102735      +
22    149591754      -
23     41883059      -
24     92886351      +
25     47352560      +
26     22747502      +
27      6466536      +
28    199867763      -
29     50570974      -
...         ...    ...
9970  103121031      +
9971  102500840      -
9972   32205497      -
9973  201995695      -
9974  126556895      +
9975   80030578      +
9976    5748818      +
9977   30574422      -
9978   22070240      +
9979   65051908      +
9980    3182743      -
9981   95505405      +
9982  113970105      +
9983  128060583      -
9984  225761558      +
9985  170509960      -
9986  145164099      -
9987   44826539      +
9988  100888471      -
9989   25000304      +
9990  130595298      -
9991   75527178      -
9992   17037285      +
9993  185331256      -
9994  116948737      -
9995   66327348      +
9996  185918139      +
9997   59919422      -
9998  116813203      -
9999   25358239      -

[10000 rows x 2 columns]

In [29]:
df.loc[4:10,['start','strand']]

        start strand
4    82587312      -
5   127401725      -
6    86481942      +
7    53947623      -
8    37265940      -
9    22856527      +
10  120984965      -

**Selection by Postion**

using ```.iloc```

In [30]:
df.iloc[3]

chromosome                chr22
start                  23567063
end                    23573122
gene          ENST00000454863.3
score                         0
strand                        +
example                     NaN
Name: 3, dtype: object

In [31]:
df2=df.sort_values(by='gene')
df2.iloc[3]

chromosome                 chrY
start                  22439592
end                    22441458
gene          ENST00000253838.3
score                         0
strand                        -
example                     NaN
Name: 5281, dtype: object

In [32]:
df2.head()

     chromosome     start       end               gene  score strand  example
496       chr14  61570539  61658696  ENST00000229465.9      0      +      NaN
2304       chr1  67529629  67532329  ENST00000230113.3      0      +      NaN
9321       chrY   6390430   6411564  ENST00000250776.5      0      +      NaN
5281       chrY  22439592  22441458  ENST00000253838.3      0      -      NaN
7486      chr22  50674641  50733210  ENST00000262795.5      0      +      NaN

In [33]:
#similar to numpy method
df.iloc[3:5,0:2]

  chromosome     start
3      chr22  23567063
4      chr17  82587312

In [34]:
#slicing rows explicitly
df.iloc[1:3,:]

  chromosome     start       end               gene  score strand  example
1      chr16  29913143  29915337  ENST00000623731.1      0      -      NaN
2      chr14  61801712  61803634  ENST00000624542.1      0      +      NaN

In [35]:
#slicing columns explicitly
df.iloc[:,1:3]

          start        end
0     230125030  230174106
1      29913143   29915337
2      61801712   61803634
3      23567063   23573122
4      82587312   82588411
5     127401725  127470569
6      86481942   86496996
7      53947623   53974950
8      37265940   37267193
9      22856527   22861579
10    120984965  120985596
11     26688110   26689668
12     72323157   72592355
13      4512261    4516776
14     80572680   80605634
15     53304535   53307462
16      9538732    9539734
17      7008375    7014279
18       498983     501607
19     62873592   62880620
20    136975093  136976981
21      9102735    9182524
22    149591754  149592663
23     41883059   41894579
24     92886351   92893026
25     47352560   47354633
26     22747502   22758192
27      6466536    6467135
28    199867763  199909158
29     50570974   50578041
...         ...        ...
9970  103121031  103132966
9971  102500840  102501319
9972   32205497   32206814
9973  201995695  201996352
9974  126556895  126557433
9975   80030578   80034555
9976    5748818    5795901
9977   30574422   30576742
9978   22070240   22083221
9979   65051908   65053308
9980    3182743    3195747
9981   95505405   95527524
9982  113970105  113995644
9983  128060583  128083172
9984  225761558  225762112
9985  170509960  170532000
9986  145164099  145167488
9987   44826539   44827094
9988  100888471  100889106
9989   25000304   25020825
9990  130595298  130655712
9991   75527178   75601186
9992   17037285   17060003
9993  185331256  185335039
9994  116948737  116951422
9995   66327348   66328643
9996  185918139  185919460
9997   59919422   59920339
9998  116813203  116814003
9999   25358239   25359908

[10000 rows x 2 columns]

# Thresholding and Filtering

In [36]:
df[df['start']>10000000]

,chromosome,start,end,gene,score,strand,example
0,chr2,230125030,230174106,ENST00000454058.2,0,+,NaN
1,chr16,29913143,29915337,ENST00000623731.1,0,-,NaN
2,chr14,61801712,61803634,ENST00000624542.1,0,+,NaN
3,chr22,23567063,23573122,ENST00000454863.3,0,+,NaN
4,chr17,82587312,82588411,ENST00000575085.1,0,-,NaN
5,chr4,127401725,127470569,ENST00000509671.1,0,-,NaN
6,chr3,86481942,86496996,ENST00000460586.1,0,+,NaN
7,chr15,53947623,53974950,ENST00000558866.4,0,-,NaN
8,chr19,37265940,37267193,ENST00000586324.1,0,-,NaN
9,chr7,22856527,22861579,ENST00000422542.3,0,+,NaN
10,chr10,120984965,120985596,ENST00000613871.1,0,-,NaN
11,chr18,26688110,26689668,ENST00000583852.1,0,+,NaN
12,chr17,72323157,72592355,ENST00000581801.4,0,-,NaN
14,chr2,80572680,80605634,ENST00000630660.1,0,-,NaN
15,chr1,53304535,53307462,ENST00000446686.1,0,+,NaN
19,chr9,62873592,62880620,ENST00000609749.1,0,-,NaN
20,chr9,136975093,136976981,ENST00000413913.2,0,+,NaN
22,chr6,149591754,149592663,ENST00000419134.1,0,-,NaN
23,chr4,41883059,41894579,ENST00000510772.1,0,-,NaN
24,chr14,92886351,92893026,ENST00000554653.4,0,+,NaN
25,chr20,47352560,47354633,ENST00000413818.2,0,+,NaN
26,chr8,22747502,22758192,ENST00000521141.1,0,+,NaN
28,chr2,199867763,199909158,ENST00000627240.1,0,-,NaN
29,chr20,50570974,50578041,ENST00000431019.1,0,-,NaN
30,chr15,25085270,25110455,ENST00000553108.1,0,+,NaN
31,chr2,145294276,145331847,ENST00000454965.1,0,-,NaN
32,chr1,33325627,33345832,ENST00000630909.1,0,+,NaN
34,chr5,128060583,128083172,ENST00000606251.1,0,-,NaN
35,chr6,165946771,165987991,ENST00000584179.1,0,-,NaN
36,chr1,202000100,202001283,ENST00000415582.1,0,-,NaN
...,...,...,...,...,...,...,...
9966,chr14,56813270,57152177,ENST00000554725.1,0,+,NaN
9969,chr4,79596541,79597173,ENST00000513155.1,0,+,NaN
9970,chr8,103121031,103132966,ENST00000503718.2,0,+,NaN
9971,chr4,102500840,102501319,ENST00000563833.1,0,-,NaN
9972,chr1,32205497,32206814,ENST00000421616.1,0,-,NaN
9973,chr1,201995695,201996352,ENST00000608886.1,0,-,NaN
9974,chr8,126556895,126557433,ENST00000524320.1,0,+,NaN
9975,chr9,80030578,80034555,ENST00000417801.1,0,+,NaN
9977,chr7,30574422,30576742,ENST00000584023.1,0,-,NaN
9978,chr15,22070240,22083221,ENST00000560544.1,0,+,NaN
9979,chr17,65051908,65053308,ENST00000581796.1,0,+,NaN
9981,chr8,95505405,95527524,ENST00000519366.1,0,+,NaN
9982,chr6,113970105,113995644,ENST00000436876.5,0,+,NaN
9983,chr5,128060583,128083172,ENST00000606251.1,0,-,NaN
9984,chr2,225761558,225762112,ENST00000624730.1,0,+,NaN
9985,chr1,170509960,170532000,ENST00000421020.1,0,-,NaN
9986,chr1,145164099,145167488,ENST00000621033.1,0,-,NaN
9987,chr15,44826539,44827094,ENST00000558419.1,0,+,NaN
9988,chr15,100888471,100889106,ENST00000615211.1,0,-,NaN
9989,chr15,25000304,25020825,ENST00000553134.4,0,+,NaN
9990,chr8,130595298,130655712,ENST00000523502.1,0,-,NaN
9991,chr15,75527178,75601186,ENST00000567875.4,0,-,NaN
9992,chr22,17037285,17060003,ENST00000609596.1,0,+,NaN
9993,chr1,185331256,185335039,ENST00000565520.1,0,-,NaN
9994,chr12,116948737,116951422,ENST00000617795.1,0,-,NaN
9995,chr2,66327348,66328643,ENST00000412313.1,0,+,NaN
9996,chr4,185918139,185919460,ENST00000456728.1,0,+,NaN
9997,chr14,59919422,59920339,ENST00000565968.1,0,-,NaN
9998,chr11,116813203,116814003,ENST00000457746.1,0,-,NaN
9999,chr7,25358239,25359908,ENST00000562268.1,0,-,NaN

In [37]:
df[df['chromosome'].isin(['chr2','chr3'])]

,chromosome,start,end,gene,score,strand,example
0,chr2,230125030,230174106,ENST00000454058.2,0,+,NaN
6,chr3,86481942,86496996,ENST00000460586.1,0,+,NaN
14,chr2,80572680,80605634,ENST00000630660.1,0,-,NaN
28,chr2,199867763,199909158,ENST00000627240.1,0,-,NaN
31,chr2,145294276,145331847,ENST00000454965.1,0,-,NaN
78,chr2,70018015,70086273,ENST00000628263.1,0,-,NaN
91,chr2,74919554,74924846,ENST00000418001.1,0,-,NaN
95,chr2,13001663,13006997,ENST00000421112.1,0,-,NaN
101,chr2,170343586,170350641,ENST00000626724.1,0,-,NaN
102,chr3,153881525,153940836,ENST00000463297.1,0,+,NaN
107,chr3,15439198,15449994,ENST00000609310.2,0,-,NaN
123,chr2,197568,202605,ENST00000437798.1,0,+,NaN
131,chr3,72061060,72068020,ENST00000608555.4,0,+,NaN
132,chr2,69971012,70032143,ENST00000628455.1,0,-,NaN
136,chr2,215023055,215042379,ENST00000615813.2,0,+,NaN
147,chr3,115251195,115285347,ENST00000459855.1,0,+,NaN
149,chr3,128075809,128079056,ENST00000485218.1,0,+,NaN
161,chr2,110245655,110283790,ENST00000566951.4,0,+,NaN
175,chr3,42509200,42528583,ENST00000628282.1,0,-,NaN
181,chr2,39917840,40251721,ENST00000626098.1,0,+,NaN
204,chr2,144667966,145172078,ENST00000597655.4,0,+,NaN
208,chr3,10006444,10009131,ENST00000420091.4,0,-,NaN
212,chr2,111321432,111324812,ENST00000622940.1,0,-,NaN
223,chr2,70124035,70125317,ENST00000414141.1,0,-,NaN
227,chr2,104433266,104520832,ENST00000451400.1,0,+,NaN
233,chr2,216487803,216498750,ENST00000431856.1,0,-,NaN
240,chr2,159670707,159712430,ENST00000453016.4,0,-,NaN
242,chr3,10006417,10011095,ENST00000383808.5,0,-,NaN
256,chr2,144667984,145182374,ENST00000597469.4,0,+,NaN
258,chr2,107362318,107407329,ENST00000413708.1,0,+,NaN
...,...,...,...,...,...,...,...
9757,chr2,38121984,38131590,ENST00000585654.1,0,+,NaN
9762,chr3,177294441,177323418,ENST00000425388.1,0,+,NaN
9772,chr2,30408169,30408346,ENST00000624149.1,0,+,NaN
9779,chr2,176990841,177164516,ENST00000441205.1,0,-,NaN
9784,chr3,186641520,186743813,ENST00000628253.1,0,-,NaN
9805,chr2,143640755,143648885,ENST00000548051.1,0,-,NaN
9809,chr3,112133422,112135359,ENST00000563632.1,0,+,NaN
9826,chr3,132721749,132750777,ENST00000489343.4,0,+,NaN
9830,chr2,70048686,70087421,ENST00000413791.4,0,-,NaN
9833,chr2,77672214,77673792,ENST00000438443.1,0,+,NaN
9836,chr3,150704042,150720146,ENST00000475393.1,0,+,NaN
9840,chr2,127467827,127492984,ENST00000631042.1,0,+,NaN
9856,chr2,103011778,103019898,ENST00000453878.1,0,+,NaN
9862,chr2,230125292,230173988,ENST00000626428.1,0,+,NaN
9863,chr2,178530814,178531565,ENST00000589355.1,0,+,NaN
9868,chr3,18465982,18591775,ENST00000626023.1,0,+,NaN
9876,chr2,38121984,38131590,ENST00000585654.1,0,+,NaN
9892,chr3,156215559,156227883,ENST00000473876.1,0,-,NaN
9897,chr2,164992130,165130426,ENST00000628085.1,0,+,NaN
9900,chr3,9385263,9398579,ENST00000519043.4,0,-,NaN
9923,chr3,37399570,37418374,ENST00000426078.4,0,+,NaN
9924,chr2,178413967,178431341,ENST00000450044.1,0,+,NaN
9926,chr2,165933890,165948153,ENST00000443032.1,0,+,NaN
9933,chr2,102172620,102182108,ENST00000428188.1,0,-,NaN
9940,chr2,54516047,54540697,ENST00000433475.1,0,-,NaN
9946,chr3,50367464,50368197,ENST00000607362.1,0,+,NaN
9957,chr3,195708153,195709386,ENST00000627555.1,0,+,NaN
9958,chr2,6638304,6650247,ENST00000630222.1,0,-,NaN
9984,chr2,225761558,225762112,ENST00000624730.1,0,+,NaN
9995,chr2,66327348,66328643,ENST00000412313.1,0,+,NaN

# Joining dataframes

In [38]:
d1=df[0:3]
d2=df[7:10]
print(d1)
print(d2)

  chromosome      start        end               gene  score strand  example
0       chr2  230125030  230174106  ENST00000454058.2      0      +      NaN
1      chr16   29913143   29915337  ENST00000623731.1      0      -      NaN
2      chr14   61801712   61803634  ENST00000624542.1      0      +      NaN
  chromosome     start       end               gene  score strand  example
7      chr15  53947623  53974950  ENST00000558866.4      0      -      NaN
8      chr19  37265940  37267193  ENST00000586324.1      0      -      NaN
9       chr7  22856527  22861579  ENST00000422542.3      0      +      NaN

In [40]:
dfs=[d2,d1]

In [41]:
df3=pd.concat(dfs)

In [42]:
df3

  chromosome      start        end               gene  score strand  example
7      chr15   53947623   53974950  ENST00000558866.4      0      -      NaN
8      chr19   37265940   37267193  ENST00000586324.1      0      -      NaN
9       chr7   22856527   22861579  ENST00000422542.3      0      +      NaN
0       chr2  230125030  230174106  ENST00000454058.2      0      +      NaN
1      chr16   29913143   29915337  ENST00000623731.1      0      -      NaN
2      chr14   61801712   61803634  ENST00000624542.1      0      +      NaN

In [43]:
left=pd.DataFrame({'chromosome':['chr1','chr3'],'start':[0,304]})
right=pd.DataFrame({'chromosome':['chr1','chr3'],'end':[10,400]})
print(left)
print(right)

  chromosome  start
0       chr1      0
1       chr3    304
  chromosome  end
0       chr1   10
1       chr3  400

In [44]:
pd.merge(left,right,on='chromosome')

  chromosome  start  end
0       chr1      0   10
1       chr3    304  400

# Applying functions to columns

One on the best feature of pandas is that you don't have to loop through each row to manipulate the values in each cell. Instead, use built in functions or use the ```apply()``` function to apply your own function!

In [45]:
def square(x):
    return x**2

In [46]:
df['start']

0       230125030
1        29913143
2        61801712
3        23567063
4        82587312
5       127401725
6        86481942
7        53947623
8        37265940
9        22856527
10      120984965
11       26688110
12       72323157
13        4512261
14       80572680
15       53304535
16        9538732
17        7008375
18         498983
19       62873592
20      136975093
21        9102735
22      149591754
23       41883059
24       92886351
25       47352560
26       22747502
27        6466536
28      199867763
29       50570974
          ...
9970    103121031
9971    102500840
9972     32205497
9973    201995695
9974    126556895
9975     80030578
9976      5748818
9977     30574422
9978     22070240
9979     65051908
9980      3182743
9981     95505405
9982    113970105
9983    128060583
9984    225761558
9985    170509960
9986    145164099
9987     44826539
9988    100888471
9989     25000304
9990    130595298
9991     75527178
9992     17037285
9993    185331256
9994    116948737
9995     66327348
9996    185918139
9997     59919422
9998    116813203
9999     25358239
Name: start, Length: 10000, dtype: int64

In [47]:
df['start'].apply(square)

0       52957529432500900
1         894796124138449
2        3819451606130944
3         555406458445969
4        6820664103385344
5       16231199532975625
6        7479126292091364
7        2910346027350129
8        1388750284083600
9         522420826501729
10      14637361756051225
11        712255215372100
12       5230639038446649
13         20360499332121
14       6491956762382400
15       2841373451566225
16         90987408167824
17         49117320140625
18           248984034289
19       3953088570982464
20      18762176102358649
21         82859784480225
22      22377692864796516
23       1754190631197481
24       8627874202095201
25       2242264938553600
26        517448847240004
27         41816087839296
28      39947122686624169
29       2557423411308676
              ...
9970    10633947034502961
9971    10506422200705600
9972     1037194037017009
9973    40802260798533025
9974    16016647672041025
9975     6404893415014084
9976       33048908397124
9977      934795280634084
9978      487095493657600
9979     4231750734440464
9980       10129853004049
9981     9121282384214025
9982    12989184833711025
9983    16399512918299889
9984    50968281070587364
9985    29073646459201600
9986    21072615638481801
9987     2009418598718521
9988    10178483580717841
9989      625015200092416
9990    17055131859708804
9991     5704354616643684
9992      290269080171225
9993    34347674450537536
9994    13677007085895169
9995     4399317092713104
9996    34565554409223321
9997     3590337132814084
9998    13645324395119209
9999      643040285181121
Name: start, Length: 10000, dtype: int64

To save any manipulation to a DataFrame column, you must reassign it.

In [48]:
df['start']=df['start'].apply(square)
df.head()

,chromosome,start,end,gene,score,strand,example
0,chr2,52957529432500900,230174106,ENST00000454058.2,0,+,NaN
1,chr16,894796124138449,29915337,ENST00000623731.1,0,-,NaN
2,chr14,3819451606130944,61803634,ENST00000624542.1,0,+,NaN
3,chr22,555406458445969,23573122,ENST00000454863.3,0,+,NaN
4,chr17,6820664103385344,82588411,ENST00000575085.1,0,-,NaN

The groupby function returns a special groupby object. This is handy, as you can use it to apply operations along subsets you have created

In [50]:
# create a test dataframe
df.groupby('strand')

In [53]:
df.groupby('strand').apply(lambda p: sum(p['start']))

strand
+    45566185953969534326
-    43537987289412103527
dtype: object

# Further reading and practice

- 10 minute quick introduction: https://pandas.pydata.org/pandas-docs/stable/10min.html
- Merge, Joining and Concatenating dataframes: https://pandas.pydata.org/pandas-docs/stable/merging.html
- More on indexing: https://pandas.pydata.org/pandas-docs/stable/indexing.html